/*
** base & common elements
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: $font-stack;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background: $theme-background;
  color: $theme-text-primary;
}

a{
  color: $accent;
  transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;

  &:hover{
    text-decoration: underline;
    color: $accent-dark;
  }
}