/*
** material icons
*/
@mixin icon($name, $size, $spacing) {

  &:before {
    content: $name;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: $size;
    margin: $spacing;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
}